.file-input-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #b9bdc0;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    width: 200px;
  }
  
  .file-input-wrapper:hover {
    /* background-color: #0056b3; */
  }
  
  .file-input-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-input-label {
    margin-left: 10px;
    font-size: 14px;
    color: #95a2b8;
  }
  
  .file-input-wrapper input[type="file"] + label {
    color: #000; /* Make the text of the chosen file black */
  }
  .upload
  {
    width: 200px;
  }