

   body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
    margin: 20px;
  }
  
  form {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }
  .con{ margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;}
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  
  input[type="text"], 
 
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
  input[type="text"]
   {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: inline;
    /* width: 200px; */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .option {
    display: block;
    text-align: left;
    margin: 5px 0;
  }
  
  .score {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  
  .button-spacing {
    margin-right: 10px;
  } 
  